<body class="landing-page sidebar-collapse">
  <!-- Navbar -->

  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/bg6.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Welcome to My Rails Blog App</h1>

          <h2>Let's get started</h2>
            <h5>You can create a new blog post by first signing in</h5>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


</html>